.weekly-summary-pane {
  position: fixed;
  height: 95vh;
  background-color: #fff;
  width: 100vw;
  bottom: 0;
  transition-property: all;
  transition-duration: 1s;  transition-timing-function: cubic-bezier(1,-0.5,0,1.5);
  transform: translateY(calc(95vh - 10px));
  z-index: 101;
  .weekly-summary-toggler {
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
    position: absolute;
    font-size: 48px;
    color: #000 !important;
    right: 25px;
    top: -64px;
    width: 65px;
    height: 65px;
    cursor: pointer;
    text-align: center;
    line-height: 65px;
    font-weight: 600;
    div {
      -webkit-animation: rotation 3s infinite linear;
    }
  }
  & +.weekly-summary-overlay {
    transition-property: background;
    transition-duration: .85s;
    height: 0%;
    width: 0%;
  }
  &.open{
    transform: translateY(10vh);
    & +.weekly-summary-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      background-color: rgba(0,0,0,0.15);
    }
    .weekly-summary-toggler {
      color: #ef193c !important;
    }
  }
  &.no-data {
    .weekly-summary-toggler {
      transform: translateY(100%)
    }
  }

  .charts-wrapper {
    margin-top: 2em;
    max-height: 85vh;
    overflow-y: auto;
    .row {
      margin: 0;
      .info-pane {
        text-align: center;
      }
    }
  }
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(359deg);
    }
}
