.weekly-summary-pane {
  position: fixed;
  height: 85vh;
  background-color: #fff;
  width: 100vw;
  bottom: 0;
  transition-property: all;
  transition-duration: 1s;  transition-timing-function: cubic-bezier(1,-0.5,0,1.5);
  transform: translateY(85vh);
  z-index: 101;
  .weekly-summary-toggler {
    position: absolute;
    right: 25px;
    top: -65px;
    width: 65px;
    height: 65px;
    cursor: pointer;
    background: #fff;
    text-align: center;
    line-height: 65px;
    font-weight: 600;
  }
  & +.weekly-summary-overlay {
    transition-property: background;
    transition-duration: .85s;
    height: 0%;
    width: 0%;
  }
  &.open{
    transform: translateY(0);
    & +.weekly-summary-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      background-color: rgba(0,0,0,0.15);
    }
  }
}
