@import "./vendor/bootstrap/scss/_mixins.scss";
@import "./vendor/bootstrap/scss/_variables.scss";
@import "./vendor/bootstrap/scss/bootstrap.scss";

@import"./vendor/weather_icons/css/weather-icons.css";

body{
  color: rgba(0,0,0,.87);
  font-size: .875rem;
  background-color: #f6fafb;
  font-family: 'Raleway', sans-serif;
  .serif {
    font-family: 'Alegreya', serif !important;
  }
  .b-r {
    border-right: 1px solid hsla(210,8%,51%,.13);
  }
}
